{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="icon" href="{% static 'assets/favicon.png' %}" sizes="any">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
</head>
<body>
    <div class="container">
        <h1>Settings</h1>
        
        <h2>Username</h2>
        <div class="input-group">
            <input type="text" placeholder="Enter your name">
        </div>
        
        <div class="option-group">
            <label>Currency:</label>
            <div class="option-row">
                <input type="radio" id="php" name="currency" checked class="checkbox">
                <label for="php">₱ PHP</label>
            </div>
        </div>
        
        <div class="option-group">
            <label>Theme:</label>
            <div class="option-row">
                <input type="radio" id="light" name="theme" checked class="checkbox">
                <label for="light">Light</label>
            </div>
            <div class="option-row">
                <input type="radio" id="dark" name="theme" class="checkbox">
                <label for="dark">Dark</label>
            </div>
        </div>
        
        <div class="option-group">
            <label>Notifications:</label>
            <div class="option-row">
                <input type="checkbox" id="notifications" checked class="checkbox">
                <label for="notifications">Enable notifications</label>
            </div>
        </div>
        
        <div class="section-divider"></div>
        
            <h2>Add a Transaction Reminder</h2>
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <label for="{{ form.alert_time.id_for_label }}">Alert time</label>
                    {{ form.alert_time }}
                </div>
                <div class="buttons">
                    <button class="save-btn" type="submit">Save</button>
                </div>
            </form>
        </div>
</body>
</html>